@import url('https://fonts.googleapis.com/css?family=Varela');

body{
    font-family: 'Varela', sans-serif;
    overflow:auto;
}

.job-app{
    height:100vh;
}

mat-grid-list {
    height:100vh;
}
mat-grid-tile {

}

@media only screen and (max-width: 600px) {
    app-job-details{
        height: 70vh;
    }
    mat-grid-tile {
      padding:0 1em;
      max-width: 350px;
      display: flex;
      align-items: center;
      overflow:auto;
    }
} 