

ul{
    list-style: none;
}

.job-list{
    mat-nav-list{
        text-align:left;
        h3{
            font-weight:bold;
        }
        p{
            color:rgba(0,0,0,.54);
        }
    }
}


