.job-details-wrapper{

    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;

    .job-details{
    width:400px;

        mat-card{
            text-align: left;
            mat-card-actions{
              padding: 1em;
              display: flex;
              justify-content: space-between;
              
              mat-icon{
                  margin:0 .4em;
              }
            }
        }
        p{
            span{
                font-style: bold;
            }
        }
    }
}